<!DOCTYPE html>
<html>
  <head>
    <title>Bookings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="layout">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Home", root_path, class: "navbar-item" %>
          <%= link_to "Bookings", bookings_path, class: "navbar-item" %>
        </div>
      </div>
    </nav>
    <div class="block"></div>
    <div class="modal" data-layout-target="modal">
      <div class="modal-background" data-action="click->layout#closeModal"></div>
      <div class="modal-card" id="modal">
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
